<h1>Welcome to Pizza Palace</h1>

<img
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRN7lbKU98yo-JMcqZrGcZnBG4iVnCP0hNc9A&usqp=CAU"
/>
<!-- <div *ngFor="let pizza of items">
  <p>{{ pizza.name }}</p>
  <p>{{ pizza.category }}</p>
  <p>{{pizza.price}}</p>
</div> -->
<table mdbTable hover="true">
    <thead>
      <tr>
        <th> Name </th>     
        <th> Category</th>
        <th> Price</th>     
    </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let pizza of items">
        <td scope="row">{{pizza.name}}</td>
        <td>{{pizza.category}}</td>
        <td>{{pizza.price}}</td>
      </tr>
    </tbody>
  </table>

